* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(#c22cc4, #71d3da);
}

h1 {
	text-align: center;
	text-shadow: 2px 2px 8px #75c1ff;
	font-size: 5rem;
	font-family: "Cookie", cursive;
	color: #e8f3f8;
}

h2 {
	text-align: center;
	text-shadow: 2px 2px 8px #75c1ff;
	font-size: 3.5rem;
	font-family: "Cookie", cursive;
	color: #e8f3f8;
}

.add-todo {
	background-color: transparent;
	color: rgb(250, 250, 250);
	border: none;
	outline: none;
	border-radius: 5px;
	padding-top: 5px;
	font-size: 30px;
}

:hover.add-todo {
	cursor: pointer;
	color: #8af0d6;
	transition-duration: 0.6s;
}

.todos {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

ul {
	list-style-type: none;
}

.input-todo {
	width: 300px;
	border-style: solid;
	border-radius: 5px;
	border-color: #e47fe6;
	outline: none;
	padding: 3px;
	margin-right: 10px;
	font-size: 1rem;
	transition-timing-function: cubic-bezier(10);
}

.list-todos {
	width: 345px;
	margin: 0 auto 30px;
	text-transform: uppercase;
	margin-top: 10px;
}

.item {
	background-color: #fff;
	padding: 10px;
	font-size: 0.8rem;
	display: flex;
	justify-content: start;
	align-items: center;
}

:hover.item {
	background-color: rgb(239, 234, 253);
	font-size: 0.9rem;
	transition-duration: 0.1s;
}

.item:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.item:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.checkbox {
	margin-right: 10px;
}

.checked.item {
	text-decoration: line-through;
	font-style: italic;
	color: #777d7e;
	background-color: #b5eeeb;
}

.delete-button {
	color: #ddd6dd;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 5px;
	margin-left: auto;
	width: 20px;
	font-size: 19px;
	font-weight: 550;
	height: 20px;
}

:hover.delete-button {
	cursor: pointer;
	color: #f13876;
	transition-duration: 0.2s;
	font-size: 22px;
}

footer {
	margin-top: 30px;
	color: aliceblue;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 8px #ece2e7;
	font-size: 0.74rem;
	font-family: "Poppins", sans-serif;
}

a {
	color: #ffffff;
	text-shadow: 2px 2px 8px #e1b0f8;
	font-size: 60px;
}
